<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Iniciar sesion</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" name="username">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input id="password" type="password" name="password">
        </div>
        <button>Iniciar sesion</button>
    </form>
</body>
</html>